@import "functionFontSize";
@import "funcWidth";


.client__work {
  display: flex;
  flex-direction: column;
}

.work__title-top {
  margin-top: rem(100px);
  font-weight: 900;
  font-size: rem(24px);
  
  @media (max-width: 980px) {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 720px) {
    font-size: rem(18px);
  }
}

.work__title {
  margin: rem(40px) 0 0 rem(2px);
  font-family: 'Merriweather', sans-serif;
  font-weight: 900;
  font-size: rem(48px);
  
  @media (max-width: 980px) {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 720px) {
    font-size: rem(24px);
  }
}

.line-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.line-preview__img {
  margin-top: rem(80px);
  
  @media (max-width: 980px) {
    flex-wrap: wrap;
    margin-top: rem(50px);
  }
}

.circles__point {
  padding-top: rem(40px);
}

.circles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  @media (max-width: 680px) {
    flex-direction: column;
    align-items: center;
  }
}

.point {
  display: flex;
  cursor: pointer;
  
  &__item {
    width: 10px;
    height: 10px;
    border-radius: rem(5px);
    opacity: 20%;
    
    &:hover {
      opacity: 100%;
    }
    
    &:nth-child(n + 2):nth-child(-n + 4) {
      margin-left: rem(40px);
    }
  }
}

.circles__arrow {
  margin-bottom: 100px;
}

.arrow {
  &__img-left {
    opacity: 20%;
    
    &:hover {
      opacity: 100%;
    }
  }
  
  &__img-right {
    margin: 0 rem(-2.5px);
    opacity: 40%;
    
    &:hover {
      opacity: 100%;
    }
  }
}
