html, body {
  color: #000;
}

.header {
  background: #F9F9F9;
  
  .header-info__link {
    color: #000;
    
    &:hover {
      color: #005FA3;
    }
  }
  
  .header-list__link {
    color: #000;
    
    &:hover {
      color: #005FA3;
    }
  }
  
  .button > span,
  .button > span::before,
  .button > span::after {
    background-color: #616161;
  }
    
    .box {
      background-color: #F9F9F9;
      
      &__item {
        color: #333;
        
        &:hover {
          background-color: #616161;
        }
      }
      
      &__link {
        color: #000;
      }
    }
  }

.preview {
  
  .description__title {
    color: #fff;
  }
  
  .button-preview__text {
    color: #fff;
    background-color: #005FA3;
  }
  
  .point__item {
    background-color: #fff;
  }
}

.services {
  background: #EBEBEB;
  
  .specialization__title-services {
    color: #BDBDBD;
  }
  
  .accounting__description {
    color: #fff;
  }
  
  .accounting__items {
    background: url('../img/buhblacksix.png');
    
    &:hover {
      background: url('../img/buhsix.png');
    }
  }
}

.about-company {
  background: #F9F9F9;
  
  .about-us__title {
    color: #BDBDBD;
  }
  
  .about-main__subtitle:hover {
    color: #005FA3;
  }
  
  .transactions__item  {
    background: #EBEBEB;
 
    &:hover {
      background: #005FA3;
      color: #fff;
    }
  }
  
  .transactions__title:hover {
    color: #fff;
  }
  
  .transactions__link {
    color: #005FA3;
    
    &:hover {
      color: #fff;
    }
  }
  

  
  
}

.client {
  background-color: #EBEBEB;
  
  .work__title-top {
    color: #BDBDBD;
  }

  .point__item {
      background-color:  #005FA3;
    }
  }

.feedback {
background-color: #F9F9F9;

.gratitude__title-top {
  color: #BDBDBD;
}

.business-card {
 background-color: #EBEBEB;
}

  .point__item {
    background-color:  #005FA3;
  }

}

.footer {
  
  .info-card {
    color: #fff;
  }
  
  .contact__link {
    color: #fff;
  }
  
  .data {
    color: #fff;
    
    .data__title {
      color: #BDBDBD;
    }
  }
  
  .button-send {
    background-color: #005FA3;
    color: #fff;
  }
}