@import "functionFontSize";
@import "funcWidth";

.gratitude {
  
  &__title-top {
    margin-top: rem(100px);
    font-weight: 900;
    font-size: rem(24px);
    
    @media (max-width: 980px) {
      display: flex;
      justify-content: center;
    }
    
    @media (max-width: 720px) {
      font-size: rem(18px);
    }
  }
  
  &__title {
    margin: rem(40px) 0 0 rem(2px);
    font-family: 'Merriweather', sans-serif;
    font-weight: 900;
    font-size: rem(48px);
    
    @media (max-width: 980px) {
      display: flex;
      justify-content: center;
    }
    
    @media (max-width: 720px) {
      font-size: rem(26px);
    }
    
    @media (max-width: 415px) {
      font-size: rem(22px);
    }
  }
}

.gratitude__business-card {
  margin-top: rem(80px);
  
  @media (max-width: 776px) {
    margin-top: rem(50px);
  }
}

.business-card__text {
  width: 920px / 1116px * 100%;
  margin: rem(45px) 0 rem(58px) rem(95px);
  font-weight: 300;
  font-size: rem(18px);
  line-height: rem(25px);
  padding-top: rem(45px);
  
  @media (max-width: 776px) {
    margin: 15px auto;
    font-size: rem(14px);
  }
  
  @media (max-width: 415px) {
    font-size: rem(12px);
  }
}

.manager {
  display: flex;
  padding-bottom: rem(62px);
}

.business-card__manager {
  margin: 0 0 rem(45px) rem(95px);
  
  @media (max-width: 780px) {
    margin: 0 rem(28px);
  }
}

.manager__info {
  margin-left: rem(35px);
  
  @media (max-width: 415px) {
    margin: 0 auto;
  }
}

.info__title {
  margin-bottom: rem(10px);
  font-weight: 900;
  font-size: rem(18px);
  line-height: rem(25px);
  
  @media (max-width: 415px) {
    font-size: rem(12px);
  }
}
