@import "functionFontSize";

.logo {
  display: flex;
  width: 59%;
  
  @media (max-width: 980px) {
    width: 96%;
  }
  
  &__label {
    margin-right: rem(30px);
  
    @media (max-width: 370px) {
      margin-right: 0;
    }
  }
}

.header__logo {
  align-items: center;
  margin: rem(33px) 0 rem(34px) 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}
  
.header__navigation {
  margin-top: rem(22px);

}
  
.header-info {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  
  &__item {
    padding-right: rem(27px);
  }
  
  &__img {
    vertical-align: middle;
    padding-right: rem(15px);
  }
  
  &__link {
    font-size: rem(12px);
  }
  
  &__item:nth-last-child(1) {
    padding-right: rem(2px);
  }
}

.navigation__menu-top {
  @media (max-width: 980px) {
    display: none;
  }
}

.header-list {
  display: flex;
  width: 100%;
  
  &__item {
    padding-right: rem(58px);
  
    &:nth-last-child(1) {
      padding-right: 0;
    }
    
    &:nth-last-child(2) {
      padding-right: rem(65px);
    }
  }
  
  &__link {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
  }
}

.navigation__menu-bottom {
  margin: rem(22px) 0 rem(31px) 0;
  justify-content: flex-end;
  
  @media (max-width: 980px) {
    display: none;
  }
}

.burger {
  display: none;
  
  @media (max-width: 980px) {
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
  }
}

#burger__input {
  opacity: 0;
  
  &:checked ~ .button > span {
    transform: rotate(45deg);
  }
  
  &:checked ~ .button > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  &:checked ~ .button > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  &:checked ~ .box {
    visibility: visible;
    right: 0;
  }
}

.button {
  display: flex;
  width: 26px;
  cursor: pointer;
  
  & > .burger__span,
  & > .burger__span::before,
  & > .burger__span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    transition-duration: 1.25s;
    z-index: 2;
  }
  
  & > .burger__span::before {
    content: '';
    top: rem(-8px);
  }
  & > .burger__span::after {
    content: '';
    top: rem(8px);
  }
}

.burger__button {
  align-items: center;
  top: rem(40px);
  right: rem(20px);
  height: rem(26px);
  z-index: 1;
}

.box {
  display: block;
  visibility: hidden;
  transition-duration: 3.25s;
  
  &__item {
    display: block;
    padding: rem(12px) rem(24px);
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: rem(20px);
    font-weight: 600;
    transition-duration: 0.15s;
  }
}

.burger__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 350px / 980px * 100%;
  height: 100%;
  margin: 0;
  padding: rem(50px) 0;
  
  @media (max-width: 540px) {
    width: 100%;
    top: 100px;
  }
}
