@import "functionFontSize";
@import "funcWidth";

.services {
  
  &__column {
    flex-direction: column;
    
    & h3 {
      margin: 140px 0 0 5px;
      font-size: rem(24px);
      font-weight: 900;
  
      @media (max-width: 415px){
        font-size: rem(18px);
        margin: 40px 0 0 5px;
      }
    }
    
    & h2 {
      margin: 40px 0 72px 5px;
      font-family: 'Merriweather', sans-serif;
      font-weight: 900;
      font-size: rem(48px);
  
      @media (max-width: 415px){
        font-size: rem(24px);
        margin: 40px 0 20px 5px;
      }
    }
    
    .services__items {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;
      flex-wrap: wrap;
      cursor: pointer;
      
      @media (max-width: 992px){
        flex-wrap: wrap;
        justify-content: space-around;
      }
  
      @media (max-width: 776px){
        flex-wrap: wrap;
        justify-content: space-around;
      }
      
      & p {
        font-size: rem(24px);
        font-weight: 900;
        margin: 261px 118px 45px 45px;
      }
      
      &-blck {
        width: width(350px);
        height: 360px;
        background-size: cover;
  
        @media (max-width: 992px){
          width: auto;
          margin-bottom: 30px;
        }
      }
      
      .top {
        margin-bottom: 30px;
      }
    }
  }
}

