* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, nav, footer, section {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

ol, ul {
  margin-top: 0;
}

html, body {
  position: relative;
  line-height: 1;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  z-index: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.container {
  display: flex;
  max-width: 1116px;
  margin: 0 auto;
  width: 98%;
}

html, body {
  color: #000;
}

.header {
  background: #F9F9F9;
}
.header .header-info__link {
  color: #000;
}
.header .header-info__link:hover {
  color: #005FA3;
}
.header .header-list__link {
  color: #000;
}
.header .header-list__link:hover {
  color: #005FA3;
}
.header .button > span,
.header .button > span::before,
.header .button > span::after {
  background-color: #616161;
}
.header .box {
  background-color: #F9F9F9;
}
.header .box__item {
  color: #333;
}
.header .box__item:hover {
  background-color: #616161;
}
.header .box__link {
  color: #000;
}

.preview .description__title {
  color: #fff;
}
.preview .button-preview__text {
  color: #fff;
  background-color: #005FA3;
}
.preview .point__item {
  background-color: #fff;
}

.services {
  background: #EBEBEB;
}
.services .specialization__title-services {
  color: #BDBDBD;
}
.services .accounting__description {
  color: #fff;
}
.services .accounting__items {
  background: url("../img/buhblacksix.png");
}
.services .accounting__items:hover {
  background: url("../img/buhsix.png");
}

.about-company {
  background: #F9F9F9;
}
.about-company .about-us__title {
  color: #BDBDBD;
}
.about-company .about-main__subtitle:hover {
  color: #005FA3;
}
.about-company .transactions__item {
  background: #EBEBEB;
}
.about-company .transactions__item:hover {
  background: #005FA3;
  color: #fff;
}
.about-company .transactions__title:hover {
  color: #fff;
}
.about-company .transactions__link {
  color: #005FA3;
}
.about-company .transactions__link:hover {
  color: #fff;
}

.client {
  background-color: #EBEBEB;
}
.client .work__title-top {
  color: #BDBDBD;
}
.client .point__item {
  background-color: #005FA3;
}

.feedback {
  background-color: #F9F9F9;
}
.feedback .gratitude__title-top {
  color: #BDBDBD;
}
.feedback .business-card {
  background-color: #EBEBEB;
}
.feedback .point__item {
  background-color: #005FA3;
}

.footer .info-card {
  color: #fff;
}
.footer .contact__link {
  color: #fff;
}
.footer .data {
  color: #fff;
}
.footer .data .data__title {
  color: #BDBDBD;
}
.footer .button-send {
  background-color: #005FA3;
  color: #fff;
}

html, body {
  font-size: 100%;
}

.logo {
  display: flex;
  width: 59%;
}
@media (max-width: 980px) {
  .logo {
    width: 96%;
  }
}
.logo__label {
  margin-right: 2.1428571429rem;
}
@media (max-width: 370px) {
  .logo__label {
    margin-right: 0;
  }
}

.header__logo {
  align-items: center;
  margin: 2.3571428571rem 0 2.4285714286rem 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.header__navigation {
  margin-top: 1.5714285714rem;
}

.header-info {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.header-info__item {
  padding-right: 1.9285714286rem;
}
.header-info__img {
  vertical-align: middle;
  padding-right: 1.0714285714rem;
}
.header-info__link {
  font-size: 0.8571428571rem;
}
.header-info__item:nth-last-child(1) {
  padding-right: 0.1428571429rem;
}

@media (max-width: 980px) {
  .navigation__menu-top {
    display: none;
  }
}

.header-list {
  display: flex;
  width: 100%;
}
.header-list__item {
  padding-right: 4.1428571429rem;
}
.header-list__item:nth-last-child(1) {
  padding-right: 0;
}
.header-list__item:nth-last-child(2) {
  padding-right: 4.6428571429rem;
}
.header-list__link {
  font-size: 1rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.navigation__menu-bottom {
  margin: 1.5714285714rem 0 2.2142857143rem 0;
  justify-content: flex-end;
}
@media (max-width: 980px) {
  .navigation__menu-bottom {
    display: none;
  }
}

.burger {
  display: none;
}
@media (max-width: 980px) {
  .burger {
    display: block;
    position: relative;
    width: 100%;
    margin-left: auto;
  }
}

#burger__input {
  opacity: 0;
}
#burger__input:checked ~ .button > span {
  transform: rotate(45deg);
}
#burger__input:checked ~ .button > span::before {
  top: 0;
  transform: rotate(0);
}
#burger__input:checked ~ .button > span::after {
  top: 0;
  transform: rotate(90deg);
}
#burger__input:checked ~ .box {
  visibility: visible;
  right: 0;
}

.button {
  display: flex;
  width: 26px;
  cursor: pointer;
}
.button > .burger__span, .button > .burger__span::before, .button > .burger__span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  transition-duration: 1.25s;
  z-index: 2;
}
.button > .burger__span::before {
  content: "";
  top: -0.5714285714rem;
}
.button > .burger__span::after {
  content: "";
  top: 0.5714285714rem;
}

.burger__button {
  align-items: center;
  top: 2.8571428571rem;
  right: 1.4285714286rem;
  height: 1.8571428571rem;
  z-index: 1;
}

.box {
  display: block;
  visibility: hidden;
  transition-duration: 3.25s;
}
.box__item {
  display: block;
  padding: 0.8571428571rem 1.7142857143rem;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 1.4285714286rem;
  font-weight: 600;
  transition-duration: 0.15s;
}

.burger__box {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 35.7142857143%;
  height: 100%;
  margin: 0;
  padding: 3.5714285714rem 0;
}
@media (max-width: 540px) {
  .burger__box {
    width: 100%;
    top: 100px;
  }
}

html, body {
  font-size: 100%;
}

.preview {
  background-image: url("../img/background.png");
  background-size: cover;
}

.preview__content {
  flex-direction: column;
  width: 100%;
}
@media (max-width: 980px) {
  .preview__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.content__description {
  margin-top: 12.1428571429rem;
  line-height: 4.2142857143rem;
}

.description__title {
  font-size: 3.4285714286rem;
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
}
@media (max-width: 720px) {
  .description__title {
    font-size: 1.8571428571rem;
  }
}
@media (max-width: 358px) {
  .description__title {
    font-size: 1.4285714286rem;
  }
}

.content__button-preview {
  margin: 5.7142857143rem 0;
}
.content__button-preview .button-preview__text {
  font-size: 1.2857142857rem;
  width: 270px;
  height: 4.2857142857rem;
  padding: 1.3571428571rem 1.2857142857rem;
}

.content__circles {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 980px) {
  .content__circles {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 680px) {
  .content__circles {
    flex-direction: column;
    align-items: center;
  }
}
.content__circles .circles__point {
  display: flex;
  padding-top: 2.8571428571rem;
  cursor: pointer;
}
.content__circles .point__item {
  width: 10px;
  height: 0.7142857143rem;
  border-radius: 0.3571428571rem;
  opacity: 40%;
}
.content__circles .point__item:hover {
  opacity: 100%;
}
.content__circles .point__item:nth-child(n+2):nth-child(-n+4) {
  margin-left: 2.8571428571rem;
}

.circles__arrow {
  margin-bottom: 8.0714285714rem;
}
@media (max-width: 680px) {
  .circles__arrow {
    margin-bottom: 5.7142857143rem;
    margin-top: 2.3571428571rem;
  }
}

.arrow__img-left {
  opacity: 30%;
}
.arrow__img-left:hover {
  opacity: 100%;
}

.arrow__img-right {
  margin: 0 -0.1785714286rem;
  opacity: 30%;
}
.arrow__img-right:hover {
  opacity: 100%;
}

html, body {
  font-size: 100%;
}

.specialization__title-services {
  margin-top: 10rem;
  font-size: 1.7142857143rem;
  font-weight: 900;
}
@media (max-width: 980px) {
  .specialization__title-services {
    font-size: 1.2857142857rem;
  }
}
@media (max-width: 415px) {
  .specialization__title-services {
    font-size: 1.1428571429rem;
  }
}

.specialization__title-specialization {
  margin: 2.8571428571rem 0 7.2857142857rem 0;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  font-size: 3.4285714286rem;
}
@media (max-width: 720px) {
  .specialization__title-specialization {
    font-size: 1.8571428571rem;
  }
}
@media (max-width: 415px) {
  .specialization__title-specialization {
    font-size: 1.4285714286rem;
  }
}

@media (max-width: 980px) {
  .services__specialization {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.accounting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  cursor: pointer;
}
@media (max-width: 1060px) {
  .accounting {
    justify-content: space-around;
  }
}
.accounting__items {
  width: 350px;
  height: 360px;
  margin-bottom: 2.1428571429rem;
}
@media (max-width: 350px) {
  .accounting__items {
    width: 300px;
  }
}
.accounting__items:last-child {
  margin-bottom: 7.8571428571rem;
}
.accounting .specialization__accounting {
  margin-top: 2.1428571429rem;
}
.accounting .accounting__description {
  font-size: 1.7142857143rem;
  font-weight: 900;
  margin: 16.5rem 8.4285714286rem 3.2142857143rem 3.2142857143rem;
}

html, body {
  font-size: 100%;
}

.about-company {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.about-us {
  font-size: 1.7142857143rem;
  font-weight: 900;
  line-height: 2.3571428571rem;
}

.ivanov-prom__about-us {
  margin-top: 10rem;
  width: 100%;
}
@media (max-width: 980px) {
  .ivanov-prom__about-us {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 415px) {
  .ivanov-prom__about-us {
    margin-top: 2.8571428571rem;
  }
}

@media (max-width: 450px) {
  .about-us__title {
    font-size: 1.2857142857rem;
  }
}

.ivanov-prom__about-main {
  width: 45%;
  margin-top: 2.1428571429rem;
}
@media (max-width: 1100px) {
  .ivanov-prom__about-main {
    width: 100%;
    margin: 2.1428571429rem auto;
  }
}
@media (max-width: 980px) {
  .ivanov-prom__about-main {
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
  }
}

.about-main__title {
  line-height: 4.9285714286rem;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  font-size: 3.4285714286rem;
  cursor: pointer;
}
@media (max-width: 980px) {
  .about-main__title {
    font-size: 3.4285714286rem;
    line-height: 2.7857142857rem;
    display: flex;
  }
}
@media (max-width: 720px) {
  .about-main__title {
    font-size: 1.8571428571rem;
  }
}
@media (max-width: 450px) {
  .about-main__title {
    font-size: 1.2857142857rem;
  }
}

@media (max-width: 980px) {
  .about-main__subtitle {
    margin: 0 0.7142857143rem;
  }
}
@media (max-width: 720px) {
  .about-main__subtitle {
    margin: 0 0.7142857143rem;
  }
}

.about-main__description {
  margin: 4.2857142857rem 0 15.6428571429rem 0;
  font-size: 1.2857142857rem;
  font-weight: 300;
  width: 85%;
  line-height: 1.7857142857rem;
}
@media (max-width: 1100px) {
  .about-main__description {
    margin-bottom: 2.1428571429rem;
  }
}
@media (max-width: 720px) {
  .about-main__description {
    font-size: 1.1428571429rem;
    margin-top: 30px;
    line-height: 1.8571428571rem;
  }
}
@media (max-width: 450px) {
  .about-main__description {
    font-size: 0.8571428571rem;
    width: 100%;
  }
}

.ivanov-prom__block-case {
  width: 55%;
}
@media (max-width: 1100px) {
  .ivanov-prom__block-case {
    width: 100%;
  }
}

.transactions {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .transactions {
    margin-bottom: 2.1428571429rem;
    justify-content: space-around;
  }
}
@media (max-width: 608px) {
  .transactions {
    flex-direction: column;
    align-content: center;
  }
}
.transactions__item {
  width: 17.8571428571rem;
  height: 17.8571428571rem;
  margin: 1.0714285714rem 0;
}
.transactions__title {
  margin: 2.1428571429rem 0 0 2.8571428571rem;
  font-size: 3.9285714286rem;
  line-height: 4.7142857143rem;
  font-weight: 900;
}
@media (max-width: 415px) {
  .transactions__title {
    font-size: 2.4285714286rem;
  }
}
.transactions__description {
  margin: 2.1428571429rem 0 3.3571428571rem 2.8571428571rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2857142857rem;
}
.transactions__link {
  margin: 3.3571428571rem 0 0 2.8571428571rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2142857143rem;
  text-decoration: underline;
}

html, body {
  font-size: 100%;
}

.client__work {
  display: flex;
  flex-direction: column;
}

.work__title-top {
  margin-top: 7.1428571429rem;
  font-weight: 900;
  font-size: 1.7142857143rem;
}
@media (max-width: 980px) {
  .work__title-top {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .work__title-top {
    font-size: 1.2857142857rem;
  }
}

.work__title {
  margin: 2.8571428571rem 0 0 0.1428571429rem;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  font-size: 3.4285714286rem;
}
@media (max-width: 980px) {
  .work__title {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .work__title {
    font-size: 1.7142857143rem;
  }
}

.line-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.line-preview__img {
  margin-top: 5.7142857143rem;
}
@media (max-width: 980px) {
  .line-preview__img {
    flex-wrap: wrap;
    margin-top: 3.5714285714rem;
  }
}

.circles__point {
  padding-top: 2.8571428571rem;
}

.circles {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 680px) {
  .circles {
    flex-direction: column;
    align-items: center;
  }
}

.point {
  display: flex;
  cursor: pointer;
}
.point__item {
  width: 10px;
  height: 10px;
  border-radius: 0.3571428571rem;
  opacity: 20%;
}
.point__item:hover {
  opacity: 100%;
}
.point__item:nth-child(n+2):nth-child(-n+4) {
  margin-left: 2.8571428571rem;
}

.circles__arrow {
  margin-bottom: 100px;
}

.arrow__img-left {
  opacity: 20%;
}
.arrow__img-left:hover {
  opacity: 100%;
}
.arrow__img-right {
  margin: 0 -0.1785714286rem;
  opacity: 40%;
}
.arrow__img-right:hover {
  opacity: 100%;
}

html, body {
  font-size: 100%;
}

.gratitude__title-top {
  margin-top: 7.1428571429rem;
  font-weight: 900;
  font-size: 1.7142857143rem;
}
@media (max-width: 980px) {
  .gratitude__title-top {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .gratitude__title-top {
    font-size: 1.2857142857rem;
  }
}
.gratitude__title {
  margin: 2.8571428571rem 0 0 0.1428571429rem;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  font-size: 3.4285714286rem;
}
@media (max-width: 980px) {
  .gratitude__title {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .gratitude__title {
    font-size: 1.8571428571rem;
  }
}
@media (max-width: 415px) {
  .gratitude__title {
    font-size: 1.5714285714rem;
  }
}

.gratitude__business-card {
  margin-top: 5.7142857143rem;
}
@media (max-width: 776px) {
  .gratitude__business-card {
    margin-top: 3.5714285714rem;
  }
}

.business-card__text {
  width: 82.4372759857%;
  margin: 3.2142857143rem 0 4.1428571429rem 6.7857142857rem;
  font-weight: 300;
  font-size: 1.2857142857rem;
  line-height: 1.7857142857rem;
  padding-top: 3.2142857143rem;
}
@media (max-width: 776px) {
  .business-card__text {
    margin: 15px auto;
    font-size: 1rem;
  }
}
@media (max-width: 415px) {
  .business-card__text {
    font-size: 0.8571428571rem;
  }
}

.manager {
  display: flex;
  padding-bottom: 4.4285714286rem;
}

.business-card__manager {
  margin: 0 0 3.2142857143rem 6.7857142857rem;
}
@media (max-width: 780px) {
  .business-card__manager {
    margin: 0 2rem;
  }
}

.manager__info {
  margin-left: 2.5rem;
}
@media (max-width: 415px) {
  .manager__info {
    margin: 0 auto;
  }
}

.info__title {
  margin-bottom: 0.7142857143rem;
  font-weight: 900;
  font-size: 1.2857142857rem;
  line-height: 1.7857142857rem;
}
@media (max-width: 415px) {
  .info__title {
    font-size: 0.8571428571rem;
  }
}

html, body {
  font-size: 100%;
}

html, body {
  font-size: 100%;
}

.footer {
  background: url("../img/blackBackground.png");
  background-size: cover;
}

.connection {
  display: flex;
  margin-top: 8.7142857143rem;
}
@media (max-width: 1115px) {
  .connection {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.info-card {
  width: 72%;
}
.info-card__title {
  width: 79.2114695341%;
  font-family: "Merriweather", sans-serif;
  font-weight: 900;
  font-size: 3.4285714286rem;
}
@media (max-width: 1115px) {
  .info-card__title {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .info-card__title {
    font-size: 1.5714285714rem;
    justify-content: space-around;
  }
}
.info-card__text {
  margin: 4.2857142857rem 0 5.6428571429rem 0;
  font-weight: 300;
  font-size: 1.2857142857rem;
  line-height: 1.7857142857rem;
}
@media (max-width: 1115px) {
  .info-card__text {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 720px) {
  .info-card__text {
    margin: 2.1428571429rem auto;
    width: 110%;
  }
}
@media (max-width: 415px) {
  .info-card__text {
    font-size: 1rem;
  }
}

.contact {
  display: flex;
}
@media (max-width: 1115px) {
  .contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.contact__item {
  margin: 0 1.0714285714rem;
}
@media (max-width: 762px) {
  .contact__item {
    margin: 0.7142857143rem 0;
  }
}
.contact__link {
  margin-left: 0.6428571429rem;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2.0714285714rem;
}
@media (max-width: 415px) {
  .contact__link {
    font-size: 0.8571428571rem;
  }
}

.info-card__contact {
  margin-bottom: 17.2857142857rem;
}
@media (max-width: 1115px) {
  .info-card__contact {
    margin-bottom: 1.4285714286rem;
  }
}

.data {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 720px) {
  .data {
    justify-content: center;
  }
}
@media (max-width: 450px) {
  .data {
    justify-content: space-around;
  }
}
@media (max-width: 1115px) {
  .data__item {
    margin-top: 2.1428571429rem;
  }
}
@media (max-width: 450px) {
  .data__item {
    width: 51%;
  }
}
.data__item:nth-child(1) {
  margin-right: 2.1428571429rem;
  margin-bottom: 2.1428571429rem;
}
@media (max-width: 450px) {
  .data__item:nth-child(1) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 1115px) {
  .data__item:nth-last-child(1) {
    margin-left: 2.1428571429rem;
  }
}
@media (max-width: 450px) {
  .data__item:nth-last-child(1) {
    margin-left: 0;
  }
}
.data__text {
  font-weight: normal;
  font-size: 1.1428571429rem;
}
@media (max-width: 415px) {
  .data__text {
    font-size: 1rem;
  }
}
.data__title {
  font-weight: 300;
  font-size: 1.5rem;
  opacity: 50%;
  padding: 15px 0;
}
@media (max-width: 415px) {
  .data__title {
    font-size: 1.0714285714rem;
  }
}
.data__underline {
  width: 250px;
  height: 0;
  border: 1px solid #FFF;
}
@media (max-width: 992px) {
  .data__underline {
    width: 200px;
  }
}
@media (max-width: 415px) {
  .data__underline {
    width: 150px;
  }
}

.button-send {
  width: 48.3870967742%;
  font-size: 1.2857142857rem;
}

.form__button {
  height: 4.2857142857rem;
  margin: 3.5714285714rem 0 10rem 17.1428571429rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1115px) {
  .form__button {
    display: flex;
    margin: 2.8571428571rem auto;
  }
}
@media (max-width: 580px) {
  .form__button {
    width: 80%;
  }
}

/*# sourceMappingURL=styless.css.map */
